Repository fga-eps-mds/2020.2-Violeta-Documentacao, pull requests merged in 2021-05, with the labels that each got.

#107 Adicionando jsons gerados com as métricas fornecidas pelo sonar
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-02-05-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-03-05-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-04-04-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-05-04-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-06-04-2021-1.0.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-06-04-2021-1.1.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-06-04-2021-1.2.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-11-04-2021-1.0.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-11-04-2021-1.1.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-20-04-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-23-03-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-25-04-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-28-04-2021.json
  docs/Projeto/analytics-raw-data/fga-eps-mds-2020_2-2020.2-Violeta-Desenvolvimento-30-03-2021.json
Labels: EPS, MDS

#122 Atualização dos prototipos
  docs/Projeto/prototipos/prototipo-alta-fidelidade.md
  docs/img/prototipo-alta-desktop-atualizacao-1.png
  docs/img/prototipo-alta-desktop-atualizacao-adm.png
  docs/img/prototipo-alta-desktop-atualizacao-login.png
Labels: DOCS, EPS

#130 Atualizando doc de bd.
  docs/Projeto/diagrama_de_relacionamento_bd.md
  docs/img/der_eps.jpg
  docs/img/der_eps.png
Labels: Arq, MDS
